<a href="https://www.viharatech.com"><img src="https://miro.medium.com/v2/resize:fit:828/format:webp/1*on2Bpj6A5gfd-CzaFOAZRA.jpeg"></a>


- `Welcome to our interactive learning session! In this Jupyter notebook, you'll find a series of questions related to Python List Concept. To maximize your learning, please write Python code in the cell below each question and execute it. This hands-on practice will help reinforce your understanding of the concepts. Feel free to reach out if you have any questions or need assistance. Happy coding! üíªüêç `

### Question 1: Write a Python program to count the number of elements in a list.


- `sample input : `
    - `var = [10,11,12,13]`
- `sample output :`
    - `result : 4`

In [86]:
# Please write The solution Here for above question 1:

list= [10,11,12,13]
count=0
for i in list:
   count=count+1
print("result :",count)

result : 4

### Question 2: Write a Python program to find the maximum and minimum values in a given list.

- `sample input : `
    - `var = [10,11,12,13,14,15]`
- `sample output :`
    - `result : max = 15 , min = 10`

In [88]:
# Please write The solution Here for above question 2:

list = [10,11,12,13,14,15]
max_num = max(list)
min_num = min(list)
print("result:","max =" ,max_num, ", " "min =" ,min_num)

result: max = 15 , min = 10

### Question 3: Write a Python program to remove the first occurrence of a specified element from a list.

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : [1,3,4,2,5]`

In [89]:
# Please write The solution Here for above question 3:

list=[1,2,3,4,2,5]
list.pop(1)
print("result : "+ str(list))

result : [1, 3, 4, 2, 5]

### Question 4: Write a Python program to find the average of all the elements in a list.


- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 2.833 `

In [90]:
# Please write The solution Here for above question 4:

list=[1,2,3,4,2,5]
average = sum(list)/len(list)
print("result : ",round(average,3))

result :  2.833

### Question 5: Write a Python program to check if a list is empty or not.


- `sample input : `
    - `var1 = [1,2]`
- `sample output :`
    - `result : Not empty`
    
- `sample input : `
    - `var1 = []`
- `sample output :`
    - `result :empty`

In [91]:
# Please write The solution Here for above question 5:

list1 = [1,2]
list2 = []

if list1!=[]:
  print("result :","Not empty")
if list2==[]:
  print("result :","Empty")

result : Not empty
result : Empty

### Question 6:  Write a Python program to find the index of a specified element in a list..

- `sample input : `
    - `var = [1,2,3,4,2,5]`
- `sample output :`
    - `result : 3 index is 2`

In [92]:
# Please write The solution Here for above question 6:

list = [1,2,3,4,2,5]
print("result :",list[2],"index is",list.index(3))

result : 3 index is 2

### Question 7: Write a Python program to find which number is palindrome in below given list .

- `sample input : `
    - `var = [134,121,155]`
- `sample output :`
    - `result : 134 is not a palindome , 121 is a palindrome `

In [93]:
# Please write The solution Here for above question 7:

list = [134,121,155]

s=str(list[0])
reverse = s[::-1]
if(s == reverse):
  print(list[0],"is a poliddrome")
else:
  print(list[0],"is not a polindrome")

s=str(list[1])
reverse = s[::-1]
if(s == reverse):
  print(list[1],"is a poliddrome")
else:
  print(list[1],"is not a polindrome")

134 is not a polindrome
121 is a poliddrome

### Question 8: Write a Python program to find the common elements between two lists.

- `sample input : `
    - `var1 = [1,2,3,4,10]`
    - `var2 = [10,11,12,14]`
- `sample output :`
    - `result : 10`

In [94]:
# Please write The solution Here for above question 8:

list1 = [1,2,3,4,10]
list2 = [10,11,13,14]
common_element = []

for item in list1:
  if item in list2:
    common_element.append(item)
    print("result : ", common_element)

result :  [10]

### Question 9: Write a Python program to remove the duplicates from a list

- `sample input : `
    - `var = [10,11,12,10,12,24]`
- `sample output :`
    - `result : [10,11,12,24]`

In [96]:
# Please write The solution Here for above question 9:

list_1 = [10,11,12,10,12,24]
res = [list_1[i] for i in range(len(list_1))if list_1.index(list_1[i])==i]
print("result :", res)

result : [10, 11, 12, 24]

### Question 10:  Write a Python program to sort a list of strings in Ascii Order [Ascending order]


- `sample input : `
    - `var = ['a' , 'c' , 'b']`
- `sample output :`
    - `result : ['a' , 'b' , 'c']`

In [97]:
# Please write The solution Here for above question 10:

list1 =['a','c','b']
sorted_list =', '.join(sorted(list1))
print("result : ",sorted_list)

result :  a, b, c